<main class="jss183">
    <div class="jss188">
        <div class="jss267"
             data-tc="home-header">
            <div class="MuiTypography-root jss268 MuiTypography-h4">Olá, admin@example.com</div>
            <div class="MuiTypography-root jss269 MuiTypography-body1">Aqui estão algumas informações que coletamos
                sobre sua loja</div>
        </div>
        <div class="jss270"></div>
        <div class="jss273 jss271">
            <div>
                <div class="jss266">
                    <div class="MuiPaper-root MuiPaper-elevation0 MuiCard-root jss276 MuiPaper-rounded">
                        <div class="MuiCardContent-root jss275">
                            <div>
                                <div class="MuiTypography-root jss278 MuiTypography-subtitle1">Sales</div>
                                <div
                                     class="MuiTypography-root jss277 MuiTypography-caption MuiTypography-colorTextSecondary">
                                    Today</div>
                                <div class="MuiTypography-root jss281 MuiTypography-h4 MuiTypography-colorTextPrimary">
                                    US$&nbsp;0,00</div>
                            </div>
                            <div class="jss280">
                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
                                     focusable="false"
                                     viewBox="0 0 64 64"
                                     aria-hidden="true"
                                     role="presentation">
                                    <path fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M40.1974 14H49.7682V22.7732L45.9287 19.2537L35.0969 30.0855L25.1555 28.0973L15.5364 39.6402L14 38.3598L24.3809 25.9027L34.4395 27.9145L44.453 17.901L40.1974 14ZM21.2682 44H17.2682V49H21.2682V44ZM15.2682 42V51H23.2682V42H15.2682ZM26.2682 34H30.2682V49H26.2682V34ZM24.2682 51V32H32.2682V51H24.2682ZM39.2682 37H35.2682V49H39.2682V37ZM33.2682 35V51H41.2682V35H33.2682ZM44.2682 28H48.2682V49H44.2682V28ZM42.2682 51V26H50.2682V51H42.2682Z"
                                          fill="#06847B"></path>
                                </svg></div>
                        </div>
                    </div>
                    <div class="MuiPaper-root MuiPaper-elevation0 MuiCard-root jss276 MuiPaper-rounded">
                        <div class="MuiCardContent-root jss275">
                            <div>
                                <div class="MuiTypography-root jss278 MuiTypography-subtitle1">Orders</div>
                                <div
                                     class="MuiTypography-root jss277 MuiTypography-caption MuiTypography-colorTextSecondary">
                                    Today</div>
                                <div class="MuiTypography-root jss281 MuiTypography-h4 MuiTypography-colorTextPrimary">0
                                </div>
                            </div>
                            <div class="jss280"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
                                     focusable="false"
                                     viewBox="0 0 64 64"
                                     aria-hidden="true"
                                     role="presentation">
                                    <path fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M43 13H16V51H43V45.5H41V49H18V15H41V33.5H43V13ZM40 43.9142L48.2071 35.7071L46.7928 34.2929L40 41.0858L36.7071 37.7929L35.2928 39.2071L40 43.9142ZM22 19H25V22H22V19ZM36 19H27V22H36V19ZM22 25H25V28H22V25ZM36 25H27V28H36V25ZM22 31H25V34H22V31ZM36 31H27V34H36V31Z"
                                          fill="#06847B"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
                <div class="MuiPaper-root MuiPaper-elevation0 MuiCard-root MuiPaper-rounded">
                    <div class="jss316">
                        <table class="MuiTable-root">
                            <tbody class="MuiTableBody-root jss315">
                                <tr class="MuiTableRow-root MuiTableRow-hover">
                                    <td class="MuiTableCell-root MuiTableCell-body">
                                        <div class="MuiTypography-root MuiTypography-body1"><strong>787</strong> Orders
                                            are ready to fulfill</div>
                                    </td>
                                    <td class="MuiTableCell-root MuiTableCell-body jss314"><svg class="MuiSvgIcon-root"
                                             focusable="false"
                                             viewBox="0 0 24 24"
                                             aria-hidden="true"
                                             role="presentation">
                                            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                                        </svg></td>
                                </tr>
                                <tr class="MuiTableRow-root MuiTableRow-hover">
                                    <td class="MuiTableCell-root MuiTableCell-body">
                                        <div class="MuiTypography-root MuiTypography-body1"><strong>200</strong>
                                            Payments to capture</div>
                                    </td>
                                    <td class="MuiTableCell-root MuiTableCell-body jss314"><svg class="MuiSvgIcon-root"
                                             focusable="false"
                                             viewBox="0 0 24 24"
                                             aria-hidden="true"
                                             role="presentation">
                                            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                                        </svg></td>
                                </tr>
                                <tr class="MuiTableRow-root MuiTableRow-hover">
                                    <td class="MuiTableCell-root MuiTableCell-body">
                                        <div class="MuiTypography-root MuiTypography-body1">No products out of stock
                                        </div>
                                    </td>
                                    <td class="MuiTableCell-root MuiTableCell-body jss314"><svg class="MuiSvgIcon-root"
                                             focusable="false"
                                             viewBox="0 0 24 24"
                                             aria-hidden="true"
                                             role="presentation">
                                            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                                        </svg></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="jss270"></div>
                <div class="MuiPaper-root MuiPaper-elevation0 MuiCard-root MuiPaper-rounded">
                    <div class="jss345"><span class="MuiTypography-root jss346 MuiTypography-h5">Top Products</span>
                        <div class="jss347"></div>
                    </div>
                    <div class="jss342"></div>
                    <hr class="jss344">
                    <div class="jss316">
                        <table class="MuiTable-root">
                            <tbody class="MuiTableBody-root">
                                <tr class="MuiTableRow-root">
                                    <td class="MuiTableCell-root MuiTableCell-body jss340">
                                        <div class="MuiTypography-root MuiTypography-body1">No products found</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="jss270"></div>
            </div>
            <div>
                <div class="MuiPaper-root MuiPaper-elevation0 MuiCard-root MuiPaper-rounded">
                    <div class="jss345"><span class="MuiTypography-root jss346 MuiTypography-h5">Atividade</span>
                        <div class="jss347"></div>
                    </div>
                    <div class="jss342"></div>
                    <hr class="jss344">
                    <ul class="MuiList-root MuiList-dense MuiList-padding">
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #990 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588548440796"
                                          title="4 de Mai de 2020 às 00:27"
                                          class="">há 2 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #989 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588543688283"
                                          title="3 de Mai de 2020 às 23:08"
                                          class="">há 4 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #988 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588534372461"
                                          title="3 de Mai de 2020 às 20:32"
                                          class="">há 6 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #987 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588531112512"
                                          title="3 de Mai de 2020 às 19:38"
                                          class="">há 7 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #986 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588531015418"
                                          title="3 de Mai de 2020 às 19:36"
                                          class="">há 7 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #985 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588530794475"
                                          title="3 de Mai de 2020 às 19:33"
                                          class="">há 7 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #984 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588524224977"
                                          title="3 de Mai de 2020 às 17:43"
                                          class="">há 9 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #983 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588511864490"
                                          title="3 de Mai de 2020 às 14:17"
                                          class="">há 12 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #982 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588508309949"
                                          title="3 de Mai de 2020 às 13:18"
                                          class="">há 13 horas</time></div>
                            </div>
                        </li>
                        <li class="MuiListItem-root MuiListItem-dense MuiListItem-gutters">
                            <div class="MuiListItemText-root MuiListItemText-dense MuiListItemText-multiline">
                                <div class="MuiTypography-root MuiTypography-body1">Order #981 was placed</div>
                                <div
                                     class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-colorTextSecondary">
                                    <time datetime="1588501047541"
                                          title="3 de Mai de 2020 às 11:17"
                                          class="">há 15 horas</time></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="">
    <div class="">
        <h4 *ngIf="!!data && !!data.email"
            class="">You're logged in as {{data.email}} </h4>
    </div>
</div>