.message-card {
    width:calc(100vw - 250px);
    height:68px;
    background:white;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.message-card:hover {
    background-color: #f1fdfb;
}

.font-size-sm {
    font-size: 12px;
}

.date-font {
    font-size: 10px;
    color:grey;
}

.messages-card__name {
    width:10%;
    height:80%;
    //background:red;
}

.messages-card__email {
    width:30%;
    height:80%;
    //background:pink;
}

.messages-card__address {
    width:30%;
    height:80%;
    //background:pink;
}

.messages-card__phone {
    width:20%;
    height:80%;
    //background:pink;
}

.messages-card__date {
    width:20%;
    height:80%;
    //background:pink;
}

.messages-card__checked {
    width:40px;
    height:40px;
    cursor: pointer;
}

.admin-component-product-card-container-update {
    width:40px;
    height:40px;
    cursor: pointer;
    //background: purple;
}

.admin-component-product-card-font {
 font-size: small;
 text-overflow: ellipsis;
 overflow: hidden;
 word-break:break-all;
}

.margin-top-icon {
    margin-top: -40px;
}

