.admin-menu-products-colections-header-sticky {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    background-color: #F8F8F8;
}

.admin-menu-products-colections-header-sticky-titles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-menu-products-colections-product-container {
    width: 90%;
    background: white;
    min-height: 800px;
    border-color: #eaeaea;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

.admin-menu-products-colections-product-outside-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #f1f6f6;
}

.admin-menu-products-colections-product-container-header {
    width:100%;
    height: 60px;
    border-color: #eaeaea;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.admin-menu-products-colections-header-sticky-div {
    width:100%;
    height:70px;
}

.admin-menu-products-colections-header-sticky-titles-a {

}

.admin-menu-products-colections-load {
    width:100%;
    height:80%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.collection-container {
    width:400px;
    height: 250px;
    background:#3fe5c3;
    border-radius: 8px;
    transition: width 1s, height 2s, background 2s;
    cursor: pointer;
  }
  
  .collection-container:hover {
    width:420px;
    height:260px;
    background:#1dd4af;
  }
  
  
  .collection-container-section1 {
    width:100%;
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .collection-container-section2 {
    width:100%;
    height:20%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .collection-plus {
    font-size: 150px;
  }

  .p-color-white {
    color:white;
  }
