.admin-page-menu-nav {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
}
.admin-page-menu-nav-div {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background: #F8F8F8;
}

.admin-page-menu-template {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.admin-page-menu-components {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.admin-page-menu-nav-link-container {
    width:100%;
    height:50px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.admin-page-menu-p-margin {
    margin-left: 30px;
}

.cart-ball {
    margin-left: 20px;
    background: #e43a15; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #e65245,
        #e43a15
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-color-white {
    font-size: 10px;
    color: white;
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}
